<%- include('template/cabezera.ejs')  %>
<body>
  <form  action="/pro" method="post">
      <section class="form-register">
        <h4>email</h4>
        <label for="email">Eleazerpasierra@gmail.com</label>
      <input class="controls" type="text" name="email" id="">
      <input class="botons" type="submit" >
</section>
</form>

<style>
  .star {
    color: yellow;
    display: inline-block;
    font-size: 50px;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }
</style>
<div class="star">&#9733;</div>
</body>
</html>