<%- include('template/cabezera.ejs')  %>
<body>
    <form id="loginForm">
        <section class="form-register">
          <h4>recuperar contraseña</h4>
          <label for="contraseña">contraseña</label>
        <input class="controls" type="text" name="contraseña" id="contraseña">
        <input class="botons" type="submit" >
  </section>
  </form>
  
  <script>
document.getElementById('loginForm').addEventListener('submit', function(event) {
  event.preventDefault();
  const password = document.getElementById('contraseña').value;
  const url = window.location.href;
  const token = url.split('/').pop();
  
  fetch('/recuperation', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body:  JSON.stringify({ token, password }),
  }).then(() => {
    window.location.href = '/'; // Redirigir a la raíz
  });
});
  </script>
</body>
</html>